<div class="d-flex">
  <div>
    <h3 class="card-title m-b-5">
      <span class="lstick"></span>
      {{ tituloGrafica }}
    </h3>
  </div>
</div>

<div class="div">
  <ul class="list-inline">
    <li class="list-inline-item">
      <a
        (click)="graficaPromedioDeTiempoEntreLecturas(this.datos)"
        href="javascript:void(0)"
        >Promedio</a
      >
    </li>
    <li class="list-inline-item">
      <a
        (click)="graficaContratosPorLecturista(this.datos)"
        href="javascript:void(0)"
        >Contratos</a
      >
    </li>
    <li class="list-inline-item">
      <a
        (click)="graficaContratosPorLecturista(this.datos)"
        href="javascript:void(0)"
      ></a>
    </li>
  </ul>
</div>

<app-filtros-metricas (cadena)="cadenaBusqueda = $event"></app-filtros-metricas>
<div
  *ngIf="!cargando; else cargarTemplate"
  style="height: 350px"
  class="mt-4 pt-4"
>
  <canvas
    baseChart
    [datasets]="chartData"
    [labels]="chartLabels"
    [options]="chartOptions"
    [colors]="chartColors"
    [legend]="chartLegend"
    [chartType]="chartType"
  >
  </canvas>
</div>

<hr />

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Lecturista</th>
        <th>Promedio entre lecturas</th>
        <th>Promedio contratos por dia</th>
        <th>Total de contratos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let kv of datos | keyvalue">
        <td>{{ nombreLecturista(kv.key) }}</td>
        <td>
          {{ sumaPromedioTiempoEntreLecturas(kv.value) | number: "0.0-2" }}
        </td>
        <td>{{ promedioContratosDia(kv.value) | number: "0.0-2" }}</td>
        <td>{{ totalContratos(kv.value) | number: "0.0-2" }}</td>
      </tr>
    </tbody>
  </table>
</div>

<small class="text-muted">{{ notas }}</small>
<hr />
<small
  ><a
    title="Volver a cargar"
    (click)="cargar(cadenaBusqueda)"
    class="text-muted"
    href="javascript:void(0)"
    role="button"
    ><i [ngClass]="{ 'fa-spin': cargando }" class="fas fa-sync"></i>
    Actualizar</a
  ></small
>

<a
  (click)="exportarExcel(datos)"
  class="btn btn-success btn-xs ml-3"
  href="javascript:void(0)"
  role="button"
  ><i class="fas fa-file-excel"></i
></a>

<ng-template #cargarTemplate>
  <h1 class="display-1"><i class="fas fa-sync fa-spin"></i></h1>
</ng-template>
