<div class="row">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <button
          (click)="actualizarPermisos()"
          class="btn btn-primary"
          [disabled]="cargandoActualizandoPermisos"
        >
          <i
            *ngIf="cargandoActualizandoPermisos"
            class="fas fa-sync fa-spin mr-3"
          ></i>
          Actualizar permisos Super admin
        </button>
 
        <a
          (click)="detectarHeroku()"
          class="btn btn-primary"
          href="javascript:void(0)"
          role="button"
          >Detectar heroku</a
        >
      </div>
    </div>
  </div>
</div>
