<div class="row">
  <div class="col-auto">
    <div class="card shadow">
      <div class="card-body">
        <button
          (click)="actualizarPermisos()"
          class="btn btn-primary"
          [disabled]="cargandoActualizandoPermisos"
        >
          <i
            *ngIf="cargandoActualizandoPermisos"
            class="fas fa-sync fa-spin mr-3"
          ></i>
          Actualizar permisos Super admin
        </button>
      </div>
    </div>
  </div>

  <div class="col-auto">
    <div class="card shadow">
      <div class="card-body">
        <button
          (click)="sincronizarParametros()"
          class="btn btn-primary"
          [disabled]="sincronizandoParametros"
        >
          <i
            *ngIf="sincronizandoParametros"
            class="fas fa-sync fa-spin mr-3"
          ></i>
          Sincronizar parametros
        </button>
      </div>
    </div>
  </div>

  <div class="col-auto">
    <div class="card shadow">
      <div class="card-body">
        <button
          (click)="sincronizarContratos()"
          class="btn btn-primary"
          [disabled]="sincronizandoContratos"
        >
          <i
            *ngIf="sincronizandoContratos"
            class="fas fa-sync fa-spin mr-3"
          ></i>
          Sincronizar contratos
        </button>
      </div>
    </div>
  </div>

  <div class="col-auto">
    <div class="card shadow">
      <div class="card-body">
        <h1>Lecturistas SIMAPA</h1>

        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Usuario</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let lecturista of lecturistas">
              <tr>
                <td>{{ lecturista.IdLecturista }}</td>
                <td>{{ lecturista.NombreLecturista }}</td>
                <td></td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-auto">
    <div class="card shadow">
      <div class="card-body">
        <h1>Vigencia y Periodo actuales</h1>

        <div class="form-group">
          <input
            [(ngModel)]="vigenciaActual"
            type="text"
            class="form-control"
            [disabled]="guardandoVigenciaActual"
          />
          <small id="helpId" class="form-text text-muted"
            >Vigencia actual</small
          >
        </div>

        <button
          (click)="almacenarVigencia()"
          type="button"
          class="btn btn-primary btn-sm"
          [disabled]="guardandoVigenciaActual"
        >
          <i *ngIf="guardandoVigenciaActual" class="fas fa-sync fa-spin"></i>
          <i *ngIf="!guardandoVigenciaActual" class="fas fa-save"></i>
          Guardar vigencia
        </button>

        <div class="form-group">
          <input
            [(ngModel)]="periodoActual"
            type="text"
            class="form-control"
            [disabled]="guardandoPeridoActual"
          />
          <small id="helpId" class="form-text text-muted">Perido actual</small>
        </div>

        <button
          (click)="almacenarPeriodoActual()"
          type="button"
          class="btn btn-primary btn-sm"
          [disabled]="guardandoPeridoActual"
        >
          <i *ngIf="!guardandoPeridoActual" class="fas fa-save"></i>
          <i *ngIf="guardandoPeridoActual" class="fas fa-sync fa-spin"></i>
          Guardar periodo
        </button>
      </div>
    </div>
  </div>
</div>
