<div class="row">
  <div *ngIf="'super_admin' | tienePermiso" class="col-12 col-md-3">
    <div class="card shadow">
      <div class="card-body">
        <h3>Actualizar permisos super admin</h3>
        <small class="text-muted"
          >Actualiza los permisos del susper usuarios cuando estos se han
          actualizado en la API.</small
        >

        <hr />
        <button
          (click)="actualizarPermisos()"
          class="btn btn-primary btn-sm"
          [disabled]="cargandoActualizandoPermisos"
        >
          <i
            *ngIf="cargandoActualizandoPermisos"
            class="fas fa-sync fa-spin"
          ></i>
          <i
            *ngIf="!cargandoActualizandoPermisos"
            class="fas fa-user-secret"
          ></i>
          Actualizar
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="'administrador' | tienePermiso" class="col-12 col-md-3">
    <div class="card shadow">
      <div class="card-body">
        <h3>Vigencia</h3>

        <small class="text-muted">
          Debe coincidir con el definido en tauro. Esto permitira solo descargar
          a los usuarios lecturistas solo aquellos contratos correspondientes a
          la vigencia y periodo conicindente.
        </small>

        <div class="form-group">
          <input
            [(ngModel)]="vigencia"
            type="number"
            class="form-control"
            [disabled]="cargandoVigenciaYPeriodo"
          />
          <small class="form-text text-muted">Vigencia</small>
        </div>

        <hr />

        <h3>Periodo</h3>

        <div class="form-group">
          <input
            [(ngModel)]="periodo"
            type="number"
            class="form-control"
            [disabled]="cargandoVigenciaYPeriodo"
          />
          <small class="form-text text-muted">Periodo</small>
        </div>
        <hr />
        <a
          (click)="actualizarPeriodoYVigencia()"
          class="btn btn-success btn-xs"
          href="javascript:void(0)"
          role="button"
        >
          <i *ngIf="cargandoVigenciaYPeriodo" class="fas fa-sync fa-spin"></i>
          <i *ngIf="!cargandoVigenciaYPeriodo" class="fas fa-save"></i
        ></a>
      </div>
    </div>
  </div>

  <div *ngIf="'administrador' | tienePermiso" class="col-12 col-md-3">
    <div class="card shadow">
      <div class="card-body">
        <h3>[ SIMAPA ] Parametros</h3>
        <small class="text-muted"
          >Sincroniza los parametros del SIMAPA con el servidor. No confundir
          con sincronizacion offline.
        </small>
        <hr />
        <button
          (click)="sincronizarParametros()"
          class="btn btn-success btn-sm"
          [disabled]="sincronizandoParametros"
        >
          <i *ngIf="sincronizandoParametros" class="fas fa-sync fa-spin"></i>
          <i *ngIf="!sincronizandoParametros" class="fas fa-server"></i>

          Sincronizar
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="'administrador' | tienePermiso" class="col-12 col-md-3">
    <div class="card shadow">
      <div class="card-body">
        <h3>[ SIMAPA ] Contratos</h3>
        <small class="text-muted"
          >Sincroniza los contratos asignados a lecturistas desde el SIMAPA. Si
          no se asignan lecturas a los usuarios en el sistama NEXT no será
          posible sincronizarlos a este servidor.
        </small>
        <hr />
        <button
          (click)="sincronizarContratos()"
          class="btn btn-success btn-sm"
          [disabled]="sincronizandoContratos"
        >
          <i *ngIf="!sincronizandoContratos" class="fas fa-server"></i>
          <i *ngIf="sincronizandoContratos" class="fas fa-sync fa-spin"></i>
          Sincronizar
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="'administrador' | tienePermiso" class="col-12 col-md-6">
    <div class="card shadow">
      <div class="card-body">
        <app-contratos-pendientes-sincronizar
          (esteComponente)="contratosPendientesSincronizarComponent = $event"
        >
        </app-contratos-pendientes-sincronizar>

        <hr />
        <button
          (click)="subirLecturasASimapa()"
          class="btn btn-danger btn-sm"
          [disabled]="subiendoLecturasASimapa"
        >
          <i *ngIf="!subiendoLecturasASimapa" class="fas fa-server"></i>
          <i *ngIf="subiendoLecturasASimapa" class="fas fa-sync fa-spin"></i>
          SUBIR LECTURAS SIMAPA
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="'administrador' | tienePermiso" class="col-auto">
    <div class="card shadow">
      <div class="card-body">
        <h3>[ SIMAPA ] Lecturistas</h3>
        <small *ngIf="lecturistas.length > 0" class="text-muted"
          >Sincronizado desde parametros.</small
        >
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Usuario</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let lecturista of lecturistas">
              <tr>
                <td>{{ lecturista.IdLecturista }}</td>
                <td>{{ lecturista.NombreLecturista }}</td>
                <td></td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-auto">
    <div class="card shadow">
      <div class="card-body">
        <h3>[ LECTURISTA ] Sincronizar parametros offline</h3>
        <small class="text-muted">
          Sincroniza los parametros para que el lecturista pueda trabajar de
          manera offline
        </small>

        <hr />

        <table class="table">
          <thead>
            <tr>
              <th>Parametro</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let key of obtenerListaDeParametrosOrdenados">
              <td scope="row">{{ listaParametros[key].nombre }}</td>
              <td>
                <button
                  (click)="listaParametros[key].sincronizar()"
                  type="button"
                  class="btn btn-success btn-xs"
                >
                  <i
                    [ngClass]="{ 'fa-spin': listaParametros[key].cargando }"
                    class="fas fa-sync"
                  ></i>
                </button>
              </td>
              <td>
                <button
                  (click)="listaParametros[key].eliminar()"
                  type="button"
                  class="btn btn-danger btn-xs"
                >
                  <i class="fas fa-times"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
