<div class="row">
  <div class="col-12">
    <div class="card shadow">
      <div
        class="card-body d-md-flex justify-content-md-between align-items-md-center"
      >
        <a
          routerLink="/app/lectura"
          class="btn btn-warning mr-5"
          href="javascript:void(0)"
          role="button"
        >
          <i class="fas fa-arrow-circle-left"></i> Regresar a lecturas</a
        >

        <ng-container *ngIf="usuario.esIphone; else esAndroid">
          <a
            [href]="
              this.sanitization.bypassSecurityTrustUrl(
                'arrowhead://x-callback-url/zplcode?code=' + zpl_code
              )
            "
            class="btn btn-primary"
            role="button"
          >
            <i
              *ngIf="!cargandoContrato"
              class="fas fa-print"
            ></i>
            <i
              *ngIf="cargandoContrato 
              && !listoParaImprimir"
              class="fas fa-sync fa-spin"
            ></i>
          </a>
        </ng-container>

        <ng-template #esAndroid>
          Impresora activa:
          {{
            this.zebraService.selected_device?.name
              ? this.zebraService.selected_device?.name
              : "NO DISPONIBLE"
          }}

          <a
            class="btn btn-primary"
            href="javascript:void(0)"
            role="button"
            (click)="imprimir()"
          >
            <i
              *ngIf="!cargandoContrato && listoParaImprimir"
              class="fas fa-print"
            ></i>
            <i
              *ngIf="cargandoContrato && !listoParaImprimir"
              class="fas fa-sync fa-spin"
            ></i>
          </a>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<div *ngIf="contrato; else cargando" id="print-section" class="row ticket">
  <div class="col-12">
    <div class="card shadow">
      <app-ticket-imprimir
        [contrato]="contrato"
        (paraTicket)="datosAImprimir = $event"
      ></app-ticket-imprimir>
    </div>
  </div>
</div>

<ng-template #cargando>
  <div class="row">
    <div class="col-12">
      <div class="card shadow">
        <div class="card-body text-center">
          <h1 class="display-1"><i class="fas fa-sync fa-spin"></i></h1>
        </div>
      </div>
    </div>
  </div>
</ng-template>
