<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h1>Contratos</h1>

        <a class="btn btn-primary" href="javascript:void(0)" role="button">
          <i
            [ngClass]="{ 'fa-spin': sincronizandoContratos }"
            class="fas fa-sync"
          ></i>

          Sincronizar</a
        >
      </div>
    </div>
  </div>
</div>

<div class="col-12">
  <div class="card">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Contrato</th>
            <th>Contribuyente</th>
            <th>Poblacion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of contratos">
            <td>{{ u.Contrato }}</td>
            <td>{{ u.Contribuyente }}</td>
            <td>{{ u.Poblacion }}</td>
            <td>
              <a class="btn btn-primary" href="javascript:void(0)" role="button"
                ><i class="fas fa-edit"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
