<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h1>
          Contratos
          <small
            >Sincronizados :

            <span *ngIf="!sincronizandoContratos">{{
              contratos.length | number
            }}</span>

            <i *ngIf="sincronizandoContratos" class="fas fa-sync fa-spin"></i>
          </small>
        </h1>

        <button
          (click)="sincronizar()"
          class="btn btn-primary"
          role="button"
          [disabled]="sincronizandoContratos"
        >
          <i
            [ngClass]="{ 'fa-spin': sincronizandoContratos }"
            class="fas fa-sync"
          ></i>

          Sincroniza
        </button>

        <div class="form-group">
          <input type="text" class="form-control" [formControl]="buscador" />
          <small id="helpId" class="form-text text-muted"
            >Filtrar contratos</small
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-12">
  <div class="card">
    <div class="card-body table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Contrato</th>
            <th>Contribuyente</th>
            <th>Poblacion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of contratosMostrar">
            <td>{{ u.Contrato }}</td>
            <td>{{ u.Contribuyente }}</td>
            <td>{{ u.Poblacion }}</td>
            <td>
              <a class="btn btn-primary" href="javascript:void(0)" role="button"
                ><i class="fas fa-edit"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
