<h3 class="card-title m-b-5">
  <span class="lstick"></span>
  [ SIMAPA ] Sincronizacion
</h3>
<small class="text-muted"
  >Estado actual de sincronizacion de lecturas con SIMAPA. Se contabiliza una
  lectura por contrato en el perido dada la vigencia actual.
</small>
<hr />
<h1 class="font-weight-bold">
  <small class="text-muted">Preparados para lectura: <br /> </small
  >{{ totalDeContratos | number }}

  {{ totalDeContratos === 1 ? "contrato" : "contratos" }}
</h1>
<hr />
<h3 class="font-weight-bold">
  <small class="text-muted">Lecturas tomadas: </small
  >{{ contratosPendientesDeSincronizar | number }}
</h3>
<small class="text-muted">Contratos en espera de ser sincronizados. </small>

<hr />
<h3 class="font-weight-bold">
  <small class="text-muted">Sincronizados: </small
  >{{ contratosSincronizados | number }}
</h3>

<small class="text-muted">Contratos que ya han sido subidos a SIMAPA</small>

<hr />

<small>
  <a
    class="text-muted"
    href="javascript:void(0)"
    role="button"
    (click)="cargarEstadisticas()"
  >
    <i [ngClass]="{ 'fa-spin': cargandoEstadisticas }" class="fas fa-sync"></i>
    Actualizar</a
  >
</small>
