<div class="row">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <div class="form-group m-0 p-0">
          <input type="text" class="form-control" [formControl]="buscador" />
          <small class="form-text text-muted">
            <i *ngIf="!buscando" class="fas fa-search"></i>
            <i *ngIf="buscando" class="fas fa-sync fa-spin"></i>
            Buscar contratos</small
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card shadow">
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Contrato</th>
              <th>Contribuyente</th>
              <th>Poblacion</th>
            </tr>
          </thead>
          <tbody
            *ngIf="contratos.length !== 0; else noHayContratos"
            [ngClass]="{ 'text-muted': buscando }"
          >
            <tr *ngFor="let u of contratos">
              <td>
                <a
                  title="Ver detalle"
                  href="javascript:void(0)"
                  role="button"
                  [routerLink]="[u.Contrato]"
                >
                  {{ u.Contrato }}
                </a>
              </td>
              <td>{{ u.Contribuyente }}</td>
              <td>{{ u.Poblacion }}</td>
              <td></td>
            </tr>
          </tbody>
          <ng-template #noHayContratos>
            <h1>No hay contratos para mostrar</h1>
          </ng-template>
        </table>
      </div>
    </div>
  </div>
</div>
