<div class="row m-0 p-0">
  <div class="col-12">
    <div
      class="form-group d-flex justify-content-between align-items-center m-0 p-0"
    >
      <i
        *ngIf="cargando"
        class="iconos-buscador mr-3 fas fa-sync fa-spin font-20"
      ></i>
      <i
        *ngIf="!cargando"
        class="iconos-buscador mr-3 fas fa-search font-20"
      ></i>

      <input
        id="buscador"
        [formControl]="buscador"
        type="text"
        class="form-control shadow"
      />
    </div>
  </div>
</div>

<div class="row m-0 p-0">
  <div class="col-12">
    <a
      *ngFor="let contrato of contratos"
      class="list-group-item list-group-item-action mt-2 shadow list-group-item-secondary"
      (click)="irA(contrato.Contrato)"
    >
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">
          {{ contrato.Contrato }}

          <i class="fas fa-cloud-upload-alt"></i>
          <i class="fas fa-cloud text-success"></i>
        </h5>
        <small class="text-muted">{{ contrato.SerieMedidor }}</small>
      </div>
      <p class="mb-1">
        {{ contrato.Calle }} #{{ contrato.Exterior }}, {{ contrato.Colonia }},
        {{ contrato.Poblacion }}
      </p>
      <small class="text-muted">{{ contrato.Contribuyente }}</small>
    </a>
  </div>
</div>
