/* You can add global styles to this file, and also import other style files */

@import "~perfect-scrollbar/css/perfect-scrollbar.css";

.ps .ps__scrollbar-y-rail {
  left: 3px;
  right: auto;
}

.fa-spin {
  animation-duration: 0.5s !important;
}

@media print {
  @page {
    width: 80mm;
    height: 600mm;
  }
  html,
  body {
    width: 80mm;
    height: 100%;
    padding: none;
    margin: none;
  }
  /* ... the rest of the rules ... */
}
